.bold {
	font-weight:900;
}
.italic, i {
	font-style:italic;
}
.underline, u {
	text-decoration:underline;
}
.left {
	text-align:left;
}
.right {
	text-align:right;
}
.center {
	text-align:center;
}
.justify, .indent {
	text-align:justify;
}
.orange {
	color:orange;
}
.green {
	color:green;
}
tei {
	counter-reset: noteNum;
}
.marginLeft {
	border-bottom: grey 1px dotted;
}
p *:not(ptr):not(handshift):not(milestone):not(lb) {
  color:#111;
  cursor:pointer;
  border-bottom:#111 1px dashed;
}

p[rend='left'] {
  text-align: left;
}
p[rend='right'] {
  text-align: right;
}
p[rend='center'] {
  text-align: center;
}
p[rend='justify'] {
  text-align: justify;
}

l::after,
lb::after,
lg::after,
note::after,
app::after {
  content: '\A';
  white-space: pre-wrap;
}

hi[rend='underline'],
hi[rend='u'] {
	border-bottom:black 1px solid;
}
hi[rend='bold'] {
	font-weight:bold;
}
hi[rend='italic'],
hi[rend='i'] {
  font-style: italic;
}
hi[rend='sup'] {
  vertical-align: super;
}
hi[rend='sub'] {
  vertical-align: sub;
}
note, app {
  border-bottom:#0b6e02 double;
}
lb::before {
  content: '\2B90';
  color:#ba2424;
}
ptr::before {
  content: '\26B2';
  color:#ba2424;
}
handshift::before {
  content: '\270E';
  color:#ba2424;
}
milestone::before {
  content: '\2617 ';
  color:#ba2424;
}