<?php
$this->pageTitle('Transcribe this file');

$this->headLink()->appendStylesheet($this->assetUrl('js/codemirror/lib/codemirror.css', 'Transcript'));
$this->headLink()->appendStylesheet($this->assetUrl('js/codemirror/addon/hint/show-hint.css', 'Transcript'));
$this->headLink()->appendStylesheet($this->assetUrl('js/codemirror/addon/fold/foldgutter.css', 'Transcript'));
$this->headLink()->appendStylesheet($this->assetUrl('js/codemirror/addon/dialog/dialog.css', 'Transcript'));
$this->headLink()->appendStylesheet($this->assetUrl('css/transcript.css', 'Transcript'));

$this->headScript()->appendFile($this->assetUrl('js/codemirror/lib/codemirror.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/fold/foldcode.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/fold/foldgutter.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/fold/brace-fold.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/fold/xml-fold.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/fold/indent-fold.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/fold/comment-fold.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/edit/matchtags.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/edit/closebrackets.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/edit/closetag.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/display/autorefresh.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/selection/mark-selection.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/search/match-highlighter.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/mode/overlay.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/dialog/dialog.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/search/searchcursor.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/search/search.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/scroll/annotatescrollbar.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/search/matchesonscrollbar.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/search/jump-to-line.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/hint/show-hint.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/hint/xml-hint.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/mode/xml/xml.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/xml4tei/js/xml4tei.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/xml4tei/js/xml4teiSchema2json.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/xml4tei/js/xml4teiNte.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/xml4tei/js/xml4teiHelp.js', 'Transcript'));

$this->headScript()->appendFile($this->assetUrl('js/tinymce/tinymce-mod.min.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/functions.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/transcript.js', 'Transcript'));

$this->htmlElement('body')->appendAttribute('class', 'browse');
$this->htmlElement('body')->appendAttribute('class', 'transcript');

$xmlSchema = simplexml_load_file(OMEKA_PATH . '/modules/Transcript/asset/resources/cm-tei-schema.xml');
$constraints = [];
foreach ($xmlSchema as $tag => $members) {
  foreach ($members->children as $i => $childTag) {
    $childTag = (string) $childTag;
    ! isset($constraints[$childTag]) ? $constraints[$childTag] = [] : null;
    $constraints[$childTag][] = $tag;
  }
}
$controles = '{';
foreach ($constraints as $name => $tag) {
  $controles .= '"' . $name . '":["' . implode('","', $tag) . '"],';
}
// Special case for paragraph alignment
$allowed = '["p","cell","div","foreign","item","sp"]';
$controles = substr($controles, 0, -1) . ',"pleft":' . $allowed . ', "pright":' . $allowed . ', "pcenter":' . $allowed . ', "pjustify":' . $allowed . '}';

?>
<fieldset id="transcript" class="section">
    <legend id="transcript-legend"><?php echo $this->translate('Mapping'); ?></legend>

  <script>
    <?php echo "var tag_context = ". $controles . ";"; ?>
    <?php echo "var contentDivStyles = $('#content').css(['width', 'max-width', 'height', 'top', 'left', 'margin', 'padding']);"; ?>
  </script>

    <div id='transcript-wrapper'>

    <div id='file-info'></div>
    <div id='messages'></div>
    <div id='termes-info'></div>

      <div id='transcript-zoom'>
        <div id='transcript-image-container'>
          <?= $media->render(); ?>
        </div>
      </div>

      <div id="transcript-form">
        <button id="transcript-show-source">Source</button>
        <button id="transcript-validate">Valider</button>
        <div class="buttons-nav"></div>
        <div id='currenttag'></div>
        <div id='code-mirror-wrapper'>
          <div id="validation-response"></div>
          <textarea id='codemirror-edit' class='tei-editor' data-xmlschema="<?php echo $this->assetUrl('resources/cm-tei-schema.xml', 'Transcript') ?>"></textarea>
        </div>
        <div id='TranscriptionForm'>
          <div class='field'>
            <div class='input'>
              <?php echo $this->formRow($element); ?>
            </div>
          </div>
        </div>
      </div>

    </div>

<!--
  <div id='transcript-rendition'>
      <div id="trancript-pictures"><img src='<?php echo $this->assetUrl('resources/no-image.jpg', 'Transcript'); ?>'/></div>
      <div id="trancript-rendered"></div>
  </div>
-->
<!--   <button id='refresh-rendition'>Rafraîchir</button> -->

 <div id="phpWebRoot" style="display:none;"><?php echo $_SERVER['REQUEST_SCHEME'] . '://' . $_SERVER['HTTP_HOST'] . '/' . $_SERVER['BASE']; ?></div>

<!--
  <div id="userRole" style="display:none;"><?php echo $userRole; ?></div>
-->
</fieldset>
