<?php
echo $this->pageTitle('Transcriptions List');

$this->headLink()->appendStylesheet($this->assetUrl('js/codemirror/lib/codemirror.css', 'Transcript'));
$this->headLink()->appendStylesheet($this->assetUrl('js/codemirror/addon/hint/show-hint.css', 'Transcript'));
$this->headLink()->appendStylesheet($this->assetUrl('js/codemirror/addon/fold/foldgutter.css', 'Transcript'));
$this->headLink()->appendStylesheet($this->assetUrl('js/codemirror/addon/dialog/dialog.css', 'Transcript'));
$this->headLink()->appendStylesheet($this->assetUrl('css/transcript.css', 'Transcript'));

$this->headScript()->appendFile($this->assetUrl('js/codemirror/lib/codemirror.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/fold/foldcode.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/fold/foldgutter.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/fold/brace-fold.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/fold/xml-fold.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/fold/indent-fold.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/fold/comment-fold.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/edit/matchtags.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/edit/closebrackets.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/edit/closetag.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/display/autorefresh.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/selection/mark-selection.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/search/match-highlighter.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/mode/overlay.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/dialog/dialog.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/search/searchcursor.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/search/search.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/scroll/annotatescrollbar.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/search/matchesonscrollbar.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/search/jump-to-line.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/hint/show-hint.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/hint/xml-hint.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/mode/xml/xml.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/xml4tei/js/xml4tei.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/xml4tei/js/xml4teiSchema2json.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/xml4tei/js/xml4teiNte.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/codemirror/addon/xml4tei/js/xml4teiHelp.js', 'Transcript'));

$this->headScript()->appendFile($this->assetUrl('js/tinymce/tinymce-mod.min.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/functions.js', 'Transcript'));
$this->headScript()->appendFile($this->assetUrl('js/transcript.js', 'Transcript'));

$this->htmlElement('body')->appendAttribute('class', 'browse');
$this->htmlElement('body')->appendAttribute('class', 'transcript');

//   echo $this->transcriptions;

//   echo $this->WEB_ROOT;
//   echo '<br /><br /><br />';
    // Transcript preferences
?>
  <script>
    <?php echo "var tag_context = '". $controles . "'"; ?>
  //     var contentDivStyles = $('#content').css(["width", "max-width", "height", "top", "left", "margin", "padding"]);
  </script>

    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div id='transcript-wrapper'>

    <div id='file-info'></div>
    <div id='messages'></div>
    <div id='termes-info'></div>

      <div id='transcript-zoom'>
        <div id='transcript-image-container'>
        </div>
      </div>

      <div id="transcript-form">
        <button id="transcript-show-source">Source</button>
        <button id="transcript-validate">Valider</button>
        <div class="buttons-nav"></div>
        <div id='currenttag'></div>
        <div id='code-mirror-wrapper'>
          <div id="validation-response"></div>
<!--           <textarea id='codemirror-edit' class='tei-editor' data-xmlschema="<?php $this->assetUrl('resources/cm-tei-schema.xml', 'Transcript') ?>"></textarea> -->
          <textarea id='codemirror-edit' class='tei-editor' data-xmlschema="https://eman-archiveS.org/S/modules/Transcript/asset/resources/cm-tei-schema.xml"></textarea>
        </div>
        <div id='TranscriptionForm'>
        	<textarea id="transcription"><div><p>TOTO WAS HERE</p></div></textarea>
        	<input type='submit' id='transcript-submit'/>
        </div>
      </div>

    </div>

  <div id='transcript-rendition'>
      <div id="trancript-pictures"><img src='<?php $this->assetUrl('resources/no-image.jpg', 'Transcript'); ?>'/></div>
      <div id="trancript-rendered"></div>
  </div>
<!--   <button id='refresh-rendition'>Rafraîchir</button> -->


<!--
  <div id="phpWebRoot" style="display:none;"><?php echo WEB_ROOT; ?></div>
  <div id="userRole" style="display:none;"><?php echo $userRole; ?></div>
-->
  <?php echo $comments ?>
  </div>
